<html>
    <head>
    <link href="{{url_for('static', filename='jquery-ui.min.css')}}" rel="stylesheet" />
    <script src="{{url_for('static', filename='jquery-3.6.4.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-ui.min.js')}}"></script>
    
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='ava.css')}}"/> 
    
    
    
    </head>
    <body>
        <div class="wrapper">
        <form action="{{url_for('receive')}}" method="post">
            <h3>Nombre:</h3>
            <input type="text" name="nombre"/><br>
            <h3>Telefono/Celular:</h3>
            <input type="text" name="fono"/><br>

            <h3>Fecha/Dia:</h3>
            <input type="text" name="fecha" id="datepicker">

            <label for="hora"><h3>Hora</h3></label>
            <select id="hora" name="hora">
                <option value="10">10:00</option>
                <option value="11">11:00</option>                
                <option value="12">12:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
            </select>



            <input type="submit" value="AGENDAR">
            
        </form>
        </div>
    </body>
    <script type="text/javascript">
        $(function() {
            $( "#datepicker" ).datepicker({  minDate: new Date() });
        });
    </script>
</html>