<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='ava.css')}}"/> 
    <title>-</title>
</head>
<body>
    <div class="wrapper">
    <table>
        <thead>
            <td>Nombre</td>
            <td>Telefono</td>
            <td>Fecha</td>
            <td>Hora</td>
        </thead>

        {% for row in rows %}

        <tr>
            <td>{{row['nombre']}}</td>
            <td>{{row['fono']}}</td>
            <td>{{row['fecha']}}</td>
            <td>{{row['hora']}}</td>
        </tr>

        {% endfor %}
    </table>
    <br><br><br>
    <a href="/">VOLVER</a>
    </div>
</body>
</html>